
@import '_base'



// Init


#main
  width 100%






//////////////// >480








/////////////// >600









/////////////// > 768










/////////////// > 1100

+above(1100px)

  header
    display none






/////////////// > 1300
