doctype html
// if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
// if IE 7html.no-js.lt-ie9.lt-ie8(lang="en")
// if IE 8html.no-js.lt-ie9(lang="en")
//if gt IE 8
  | [if gt IE 8]
html.no-js(lang="en")
  // <![endif]
  head
    
      meta(charset="utf-8")
      meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
      title ITS
      meta(content="", name="description")
      meta(content="width=device-width, initial-scale=1, maximum-scale=1", name="viewport")
      meta(name="apple-mobile-web-app-capable", content = "yes")
      meta(name="apple-mobile-web-app-status-bar-style", content ="black")
      link(rel="icon" , type="image/png", href="images/favicon.png")
      
      link(href="css/vendor.css", rel="stylesheet")
      link(href="css/app.css", rel="stylesheet")
      
  
  body.drawer.drawer-left
    header(role='banner')
      .drawer-header
        button.drawer-toggle.drawer-hamburger(type='button')
          span.sr-only toggle navigation
          span.drawer-hamburger-icon
      .drawer-main.drawer-default
        nav.drawer-nav(role='navigation')
          .drawer-brand
            a(href='./') ITS
          ul.drawer-menu
            li.drawer-menu-item
              a(href='#').inp In Piemonte
            li.drawer-menu-item
              a(href='#').cosa Cosa sono
            li.drawer-menu-item
              a(href='#').offerta Offerta
            li.drawer-menu-item
              a(href='#').aree Aree formative
            
            
            li.drawer-menu-item
              a(href='#').contatti Contatti
          .drawer-footer
            span
    .drawer-overlay
      // content
  
      #main
        section.section#header
          #bubbles
          .section-inner
            h1
              | ITS - Istituti Tecnici Superiori
            .logo
              img(src="images/logo-its.png", alt="")
            
            .tagline
              p scuole ad alta specializzazione tecnologica
          
          .menu-web
            .menu-web-inner
              ul
                li
                  a.inp(href="#") In Piemonte
                li
                  a.cosa(href="#") Cosa sono
                li
                  a.offerta(href="#") Offerta
                li
                  a.aree(href="#") Aree formative  
                li
                  a.contatti(href="#") Contatti
                  
                  
                  
        section.section#in-piemonte
          .section-inner
            //-.section-title
            //-    h2 GLI ITS IN PIEMONTE
            
            .section-grid
              .section-element
                a(href="http://its-agroalimentarepiemonte.it/", target="_blank")
                  .element-image
                    img(src="images/its-1.png", alt="")
                  .element-text
                    p ITS agroalimentare
              .section-element
                a(href="http://www.its-aerospaziopiemonte.it/", target="_blank")
                  .element-image
                    img(src="images/its-3.png", alt="")
                  .element-text
                    p ITS aerospazio
              .section-element
                a(href="http://www.its-ictpiemonte.it/", target="_blank")
                  .element-image
                    img(src="images/its-2.png", alt="")
                  .element-text
                    p ITS ITC
              .section-element
                a(href="http://www.its-tessileabbigliamentomoda.it/", target="_blank")
                  .element-image
                    img(src="images/its-c.png", alt="")
                  .element-text
                    p ITS Tessile abbigliamento
                      
          
        section.section#cosa-sono
          .section-inner
            //- .section-title
            //-   h2 COSA SONO GLI ITS
            .section-text
              p
                | Gli Istituti Tecnici Superiori formano professionisti di alto livello nelle aree tecnologiche strategiche per lo sviluppo economico e la competitività, e rappresentano il segmento di formazione terziaria non universitaria in Italia.
              p
                | Prendendo la forma di Fondazioni di partecipazione – che comprendono scuole, enti di formazione, imprese, università e centri di ricerca, enti locali – gli ITS mettono in comunicazione le aspirazioni individuali, le esigenze del territorio e il mondo produttivo, generando valore reale per tutti.

          
        section.section#in-italia
          .section-inner
            .section-title
              h2 82 ITS IN ITALIA
            .section-graph
              .section-graph-inner
                img(src="images/its-numbers.png", alt="")
          
        section.section#aree-formative
          .section-inner
            .section-title
              h2 Le aree formative
            .section-list
              ul
                li Efficienza energetica
                li Mobilità sostenibile
                li Nuove tecnologie della vita
                li Nuove tecnologie per il Made in Italy
                  span
                    |  (sistemi meccanica, 		moda, alimentare, casa, servizi alle imprese)
                li Tecnologie innovative per i beni e le attività culturali
                li Tecnologie dell' informazione e della 	comunicazione
                
          
        section.section#parola-agli-studenti
          .section-inner
            .section-title
              h2 La parola agli studenti
            .section-graph
              //- .section-graph-full
              //-   .section-graph-caption
              //-     p Successo formativo a 6 e 12 mesi
              //-   .section-graph-image
              //-     img(src="images/graph-4.png", alt="")
              .section-graph-half
                .section-graph-caption
                  p Occupati a 6 e 12 mesi
                .section-graph-image#first-g
                  img(src="images/grafico.png", alt="")
              .section-graph-half
                .section-graph-caption
                  p Esiti occupazionali
                .section-graph-image#first-g
                  img(src="images/graph-1.png", alt="")
              
              .section-graph-half
                .section-graph-caption
                  p Indice di soddisfazione
                .section-graph-image
                  img(src="images/graph-2.png", alt="")
              
              .section-graph-full
                .section-graph-caption
                  p Indice competenze raggiunte
                .section-graph-image
                  img(src="images/graph-3.png", alt="")
              
              
          
        
          
        section.section#partners
          .section-inner
            ul
              li
                img(src="images/p1.png", alt="partners")
              li
                img(src="images/p2.png", alt="partners")

          

          
  
  
        footer
          section.section#footer
            .section-inner
              .section-title
                h2 Contatti
              .section-text
                p
                  | Rilasciamo diplomi di Tecnico Superiore riconosciuti a livello nazionale ed europeo, che ti consentono di competere da subito sul mercato del lavoro più ampio. Per maggiori informazioni contatta l'800 985 384.
                  //- | , scrivi a info[at]its-ictpiemonte[dot]it o visita la pagina bandi e prenota un colloquio.
              .section-text-footer
                p
                  span.bold Sede legale
                  br
                  span.bold Torino
                  span.light , Piazza Carlo Felice, 18 
                p
                  span.bold Sedi operative 
                  br
                  span.bold  Torino
                  span.light , Piazza 2, via Jacopo Durandi 10, Telefono +39 011 0371500
                p
                  span.bold P.IVA
                  span.light 10600860018
                  //- br
                  //- span.bold C.F.
                  //- span.light  97734430016
                  //- br
                  //- span.bold Numero REA
                  //- span.light  TO – 1147027 
                  //- br
                  //- span.bold Registro PG Pref. di Torino nr.
                  //- span.light  731 
                  //- br
                  //- span.bold PEC
                  //- span.light  its-ictpiemonte@pec.it
          
        
      
      
      
    block scripts
      script(src="../js/app.js") 
